.product-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
}

.product-image {
    width: 200px;
    height: 220px;  
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.product-price {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
}

.buy-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.buy-button:hover {
    background-color: #0056b3;
}

.back-button {
    padding: 10px 20px;
    background-color: #a18b4e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
}