.product-container{
    margin-top: 1rem;

    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.container-title{
    font-size: 2rem;
}